body {
background-image: url(matkultur.jpg);
background-size: cover;
color: white;
padding: 100px;

}
.container {
    padding: 100px;
    background-color:rgba(1,45,43,255); 
    background-size: auto;
    opacity: 0.7;
    
}
.innehåll {
  border: 1px red;
}
 #omossp{
    
        line-height: 2;
        font-weight: bold;

  }
  img {
    width: 100px;
    margin-bottom: 40px;
  }
  .header {
    display: flex;
  }
  .omoss {
    margin-left: 30px;
  }

  
/* Styling for ipad */
@media only screen and (max-width: 992px) {




    

}
/* /styling for mobile */
@media only screen and (max-width: 768px) {

  .container {
    padding: 5px;
    width: 100%;
}

  

}



  
  
