body {
  background-image: url(gottochblandat.png);
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: white;
  font-size: x-large;
  margin: 10px;
  text-decoration: none;
  
}

a:hover {
  color: rgb(8, 218, 255);
}

.meny {
  text-align: right;
}

li {
  list-style-type: none;
}

@media only screen and (max-width: 600px) {
.meny {
  display: inline-block;
}
body {
  background-position: center;
}

a {
  font-size: smaller;
  text-align: center;
}
}

@media only screen and (max-width: 1080px) {
  .meny {
    display: inline-block;
  }
  body {
    background-position: center;
  }
  a {
    font-size: small;
    text-align: center;
  }

  }
img {
  width: 200px;
  opacity: 0.9;
  
}

img:hover {
  transform: scale(1.1);
}
.left-container {
  display: flex;
  gap: 20px;
  transition: .3 ease;
}

.right-container {
 display: flex;
  gap: 20px;
  transition: .3 ease;
  
}

.container {
  display: inline-flex;
  gap: 870px;
  margin-top: 25vh;
}